certifi==2018.8.24
chardet==3.0.4
idna==2.7
oauthlib==2.1.0
Pyphen==0.9.5
PySocks==1.6.8
python-dotenv==0.9.1
repoze.lru==0.7
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
textstat==0.4.1
tweepy==3.6.0
urllib3==1.23
